#modal-target-selector .table {
    display: table;
}

#modal-target-selector .table span {
    display: table-cell;
}

#modal-target-selector .table-row {
    padding-top: 5px;
    padding-bottom: 5px
}

div.icon {
    width: 32px;
    height: 32px;
    padding: 18px;
    display: initial;
    background-repeat: no-repeat;
    background-position: center;
}

div.icon-technology {
    background-size: 100%
}

.table-row div.icon {
    background-color: #ddd;
    border: 1px solid #ccc;
    display: inline-block;
}

a.select-this-target {
    width: 36px;
    height: 36px;
    margin: 1px
}

abbr[title] {
    border-bottom: none
}

div.select-target {
    width: 100%
}

div.select-target a {
    width: 100%;
    text-align: left
}

.target-selector-tabs.active a {
    background-color: #ddd !important
}

.tab-pane {
    background-color: #ddd
}

.container-fluid {
    padding: 0;
}

#div-language, #div-show-resource {
    margin: 0;
}

td {
    display: table-cell;
    vertical-align: middle !important
}

.btn-mono {
    font-family: Courier, monospace;
    font-weight: 900
}

textarea {
    font-family: Courier, monospace;
}
